alias ls='ls --color=auto'
alias grep='grep  --color=auto'
alias please='sudo $(fc -ln -1)'
alias tree='tree --gitignore'

#setup gcd to cd from git repo root
function gcd() {
  cd $(gpwd)/$1
}

function gpwd() {
  echo $(git rev-parse --show-toplevel)
}

function nnvm() {
#nvm use is too slow on my beaters
  # if [ -s ~/.nvm/nvm.sh ]; then
    . ~/.nvm/nvm.sh
    # nvm use node
  # fi
}

# convert a github repo url to a git ssh path
function convert-to-git-ssh()
{
  echo $1 | sed 's#https://github.com/\([^/]*\)/\([^/]*\).*$#git@github.com:\1/\2.git#g'
}

# keep this at the end, so aliases can be
# overridden
aliaspath="$HOME/.aliases_local"
if [ -d $aliaspath ]; then
  for aliasfile in $(find "$aliaspath" ! -name '*.js'); do
    . $aliasfile
  done
fi
