[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[user]
	name = Gerrard Lindsay
	email = gerrardalindsay@gmail.com
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
  	conflictstyle = diff3
[difftool]
	prompt = false
[url "https://"]
	insteadOf = git://
[mergetool "vimdiff"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
