[user]
	email = gerrard@pickabar.com
	name = Gerrard Lindsay
[push]
	default = simple
[core]
	excludesFile = /home/gerrard/.gitignore_global
  autocrlf = false
[diff]
    tool = kdiff3
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    keeptemporaries = false
    trustexitcode = false
    keepbackup = false
[difftool]
	prompt = false
