[core]
	excludesfile = /Users/glindsay/.gitignore_global
	editor = vim
[user]
	name = Gerrard Lindsay
	email = gerrardalindsay@gmail.com
[push]
	default = simple
[diff]
    tool = kdiff3
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    keeptemporaries = false
    trustexitcode = false
    keepbackup = false
[difftool]
	prompt = false
[url "https://"]
	insteadOf = git://
