*scrollBar: false

*font: xft:Inconsolata for Powerline:Medium:size=9,xft:Inconsolata:Medium:size=9
*boldFont: xft:Inconsolata for Powerline:Bold:size=9;xft:Inconsolata:Bold:size=9
! set fake transparency
urxvt*transparent: true
urxvt*shading: 20
URxvt.letterSpace: -1

! setup urxvt-font-size for on the fly font changes
URxvt.perl-ext-common: ...,font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-0:      font-size:reset

URxvt.intensityStyles: false


