*scrollBar: false

*font: xft:Inconsolata:Medium:size=12, xft:Inconsolata for Powerline:Medium:size=12
*boldFont: xft:Inconsolata:Bold:size=12, xft:Inconsolata for Powerline:Medium:size=12

URxvt.letterSpace: -1
URxvt.depth: 32

! setup urxvt extenstion
URxvt.perl-ext-common: font-size,matcher
! urxvt-font-size for on the fly font changes
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-0:      font-size:reset
! matcher for clickable urls
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1


URxvt.intensityStyles: false

! Hide the pointer when typing (no need for unclutter)
URxvt*pointerBlank: true

! blinky underliney cursor
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 0

! fooling around with urxvt borders
URxvt.internalBorder: 7
! URxvt.externalBorder: 50

! Xft settings ---------------------------------------------------------------

Xft.dpi:        118
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! includes
#include ".Xresources.d/base16-twilight-256.Xresources"
