<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>5A59E394-8FD9-4DAB-B0AB-14B9F1DBF3D0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Open Jira</string>
			<key>url</key>
			<string>https://torticity.atlassian.net/browse/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8601F882-0271-471C-8861-86D7A183FE14</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>slead</string>
			<key>text</key>
			<string>Staging Lead</string>
			<key>url</key>
			<string>https://dockit-v3.staging.torticitylegal.com/leads/{query}/activity</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>87460903-76D4-47F8-84F3-618C3764D5BE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lead</string>
			<key>text</key>
			<string>Prod Lead</string>
			<key>url</key>
			<string>https://dockit-v3.torticitylegal.com/leads/{query}/activity</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
