[Unit]
Description=Random wallpaper with feh

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/home/gerrard/.config/systemd/user/i3-and-sway-wallpaper.sh'

[Install]
WantedBy=default.target
